@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 96%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 96%;
 
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 96%;
 
    --primary: 45 63% 51%;
    --primary-foreground: 0 0% 10%;
 
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 96%;
 
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 69%;
 
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 26%;
    --input: 0 0% 26%;
    --ring: 45 63% 51%;
 
    --radius: 0.5rem;

    --chart-1: 45 63% 51%;
    --chart-2: 0 0% 96%;
    --chart-3: 0 0% 69%;
    --chart-4: 0 0% 20%;
    --chart-5: 0 0% 16%;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 96%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 96%;
 
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 96%;
 
    --primary: 45 63% 51%;
    --primary-foreground: 0 0% 10%;
 
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 96%;
 
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 69%;
 
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 26%;
    --input: 0 0% 26%;
    --ring: 45 63% 51%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
